body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: "Courier New";
   font-weight: normal;
   font-size: 21px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#toc_container
{
   background-color: transparent;
   background-image: none;
   border: 1px solid transparent;
   border-radius: 0px;
   color: #000000;
   font-family: "Courier New";
   font-weight: normal;
   font-style: normal;
   font-size: 21px;
   line-height: 1.12;
   margin: 0;
   text-align: left;
}
#toc_container ul
{
   list-style-type: disc;
   list-style-position: inside;
}
#toc_container a
{
   color: inherit;
    text-decoration: inherit
}
#toc_container > ul
{
   margin: 0;
   padding: 0;
}
#toc_container > ul ul
{
   padding: 0 50px;
}
#toc_container .toc_title
{
   font-weight: bold;
   font-size: 19px;
   padding: 0 0 0.5em 0;
}
#wb_IconFont1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#IconFont1
{
   height: 71px;
   width: 96px;
}
#IconFont1 i
{
   color: #0963AD;
   display: inline-block;
   font-size: 71px;
   line-height: 71px;
   vertical-align: middle;
   width: 70px;
}
#IconFont1:hover i
{
   color: #337AB7;
}
